fieldset{
    background-color: white;
    text-align: center;
    padding: 2.5px;
    width: 100%;
    align-items: center;
    justify-content: center;
    }
body{
    background-image: url("MyMedia/poker.jpg");
}

.myRow{
    width: 75%;
    margin-left: 15%;
}

.myColumn{
    width: 75%;;
    margin-left: 15%;
}